<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="PathLengthCheckerGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
        <PathLengthCheckerGUI.Properties.Settings>
            <setting name="WindowWidth" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="WindowLeftPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTopPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="SearchOption_RootDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchOption_ReplaceRootDirectory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchOption_FileSystemTypesToInclude" serializeAs="String">
                <value>All</value>
            </setting>
            <setting name="SearchOption_IncludeSubdirectories" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchOption_MinPathLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SearchOption_MaxPathLength" serializeAs="String">
                <value>999999</value>
            </setting>
            <setting name="SearchOption_SearchPattern" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchOption_RootDirectoryReplacementText" serializeAs="String">
                <value />
            </setting>
        </PathLengthCheckerGUI.Properties.Settings>
    </userSettings>
</configuration>
